@charset "UTF-8";

body {font-family: 'Klee One', cursive;}

img {width: 100%;}

h1 {font-size: 1.50rem;
    margin-bottom: 2.0rem;
}
h2 {font-size: 1.25rem;
    margin-bottom: 20px;
}

.container {
    margin: 0 10%;
}

main {
    margin: 20px 0;
   
}

#footer {
    border-top: solid 1px #000;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 0;
    
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 20px 0 30px;
    }
}
#global-menu {
    display: flex;
    gap: 30px;
    text-transform: capitalize;
}

.contact-btn {
    text-decoration: underline;
    text-transform: capitalize;
}

/* AboutPage
-------------------------------------------------- */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_img {
    width: 150px;
    border-radius: 50%;
}

/* Common
-------------------------------------------------- */
h3 {font-weight: 600;}

/* WorksPage
-------------------------------------------------- */


.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
p {
    font-size: 0.90rem;
    margin-bottom: 2.4rem;
}

a {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.c-card {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgb(85 85 85 / 30%);
    border-radius: 10px;
    width: 70vw;
    padding: 20px;
    margin-bottom: 25px;
    gap: 10px;
    overflow: hidden;
}
